body {
  font-family: Arial, sans-serif;
}

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #2196F3;
    color: white;
  }

  .topnav #searchBtn {
    float:right;
    margin-top: 8px;
    margin-right: 12px;
    padding: 6px;
    background-color: #4CAF50; 
    text-align: center;
    text-decoration: none;
    border-color: #4CAF50;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 6px;
    font-size: 17px;
  }

.display {
    text-align: center;
    margin-top: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid green;
    padding: 10px;
}

#AboutDiv {
  display: none;
}

#ContactDiv {
  display: none;
}

#banner {
    text-align: center;
    margin-top: 30px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid green;
}