html, body {
  background-color: rgb(250, 250, 250);
  font-family: 'Roboto Slab', serif;
}

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: rgb(25, 32, 53);
    color: white;
  }

  .topnav .topBtn {
    float:right;
    color: white;
    margin-top: 8px;
    margin-right: 12px;
    padding: 6px;
    background-color: rgb(65, 61, 61); 
    text-align: center;
    text-decoration: none;
    border-color: rgb(65, 61, 61);
    width: 70px;
  }

  .topnav #searchBtn {
    float:right;
    margin-top: 8px;
    margin-right: 12px;
    padding: 6px;
    background-color: #39a4eb; 
    text-align: center;
    text-decoration: none;
    border-color: #39a4eb;  
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 6px;
    font-size: 17px;
  }

.display {
    text-align: center;
    margin-top: 30px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    /*border: 3px solid rgb(25, 32, 53);*/
    padding: 10px;
}

.border {
  border: 3px solid rgb(25, 32, 53);
}

#AboutDiv {
  display: none;
}

#ContactDiv {
  text-align: center;
  max-width: 1100px;
}

#banner {
    text-align: center;
    font-weight: bold;
    background-color: #ddd;
    font-size: 20px;
    padding: 16px;
    margin-top: 30px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid rgb(25, 32, 53);
    color:rgb(25, 32, 53);
    position: relative;
}

.logo {
  width: 80px;
  position: absolute;
  left: 32%;
  right: 100px;
  top: 27px

}

.logo1 {
  width: 40px;
  position: relative;
  top: 3px;
  left: 3px;
  margin-top: 2px;
}

.displayApps {
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 600px;
  border: 3px solid rgb(25, 32, 53);
  border-radius: 25px;
  background-color: white;
  padding: 10px;
  display: inline-block;
  margin: 20px;
}

.left {
  text-align: left;
  padding-left: 10px;
  margin: 0px;
}

.middle {
  text-align: center;
}

.bottompadding {
  padding-bottom: 2px;
}

#logout {
  display: none;
  float: right;
  background-color: rgb(255, 124, 124); 
  border-color: rgb(255, 124, 124);
  color: black;
}


.appImage {
  width: 250px;
  height: 250px;
  padding-bottom: 10px;
  cursor: pointer;
}

#greyoutDiv {
  width: 100%;
  height: 100%;
  background-color:rgba(41, 41, 41, 0.678);
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 0%;
  z-index: 1000;
}

#emphasizedImage {
  width: 500px;
  height: 500px;
  margin-top: 80px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}