html, body {
  background-color: rgb(250, 250, 250);
  font-family: 'Roboto Slab', serif;
}

/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: rgb(25, 32, 53);
    color: white;
  }

  .topnav .topBtn {
    float:right;
    color: white;
    margin-top: 8px;
    margin-right: 12px;
    padding: 6px;
    background-color: rgb(65, 61, 61); 
    text-align: center;
    text-decoration: none;
    border-color: rgb(65, 61, 61);
    width: 70px;
  }

  .topnav #searchBtn {
    float:right;
    margin-top: 8px;
    margin-right: 12px;
    padding: 6px;
    background-color: #39a4eb; 
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    border-color: #39a4eb;  
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 6px;
    font-size: 17px;
  }

.display {
    text-align: center;
    margin-top: 30px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    /*border: 3px solid rgb(25, 32, 53);*/
    padding: 10px;
}

.border {
  border: 3px solid rgb(25, 32, 53);
}

#AboutDiv {
  display: none;
}

#ContactDiv {
  text-align: center;
  max-width: 1100px;
}

#banner {
    text-align: center;
    font-weight: bold;
    background-color: #ddd;
    font-size: 20px;
    padding: 16px;
    margin-top: 30px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid rgb(25, 32, 53);
    color:rgb(25, 32, 53);
    position: relative;
}

.logo {
  width: 80px;
  position: absolute;
  left: 32%;
  right: 100px;
  top: 27px

}

.logo1 {
  width: 40px;
  position: relative;
  top: 3px;
  left: 3px;
  margin-top: 2px;
}

.displayApps {
  text-align: center;
  width: 100%;
  height: 100%;
  max-width: 450px;
  max-height: 600px;
  border: 3px solid rgb(25, 32, 53);
  border-radius: 25px;
  background-color: white;
  padding: 10px;
  display: inline-block;
  margin: 20px;

  transition: all .1s ease;
}

.displayApps.expand {
  max-height: 80%;
  height: 80%;

  max-width: 80%;
  width: 80%;
}

.left {
  text-align: left;
  padding-left: 10px;
  margin: 0px;
}

.middle {
  text-align: center;
}

.bottompadding {
  padding-bottom: 2px;
}

#logout {
  display: none;
  float: right;
  background-color: rgb(255, 124, 124); 
  border-color: rgb(255, 124, 124);
  color: black;
  border-radius: 4px;
}

#loginBtn {
  border-radius: 4px;
}


.appImage {
  width: 250px;
  height: 250px;
  padding-bottom: 10px;
  cursor: pointer;
}

/* #greyoutDiv {
  width: 100%;
  height: 100%;
  background-color:rgba(41, 41, 41, 0.678);
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 0%;
  z-index: 1000;
}

#emphasizedImage {
  width: 500px;
  height: 500px;
  margin-top: 80px;

  display: block;
  margin-left: auto;
  margin-right: auto;
} */

#formNav {
  display: none;
}


#displayIGN {
  float: right;
  margin: 12.5px 10px 0 0px;
  display: none;
}

/* App Entry CSS */
.sizeChange {
  position: relative;
  top: -395px;
  left: 0px;
  float: right;
}

.commentSection {
  display: none;
  margin: none;
  padding: none;
}

.commentBorder {
  border: 1px solid rgb(25, 32, 53);
  border-radius: 25px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background-color: rgb(228, 228, 228);
}

.commentDetails {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 10px;
  border: 3px solid rgb(25, 32, 53);
  border-radius: 25px;
  max-width: 480px
}

.commentSection .commentHeader {
  margin: 20px 0px 10px 0px;
}

.commentSection .commentInput {
  margin: 0 auto 10px auto;
  resize: none;
} 

.commentSubmit {
  position: relative;
  display: hidden;
  left: 20px;
  top: -40px;
  background-color: #39a4eb;
  border-color: #39a4eb;  
}


/* Notification CSS */
.hover_bkgr_fricc{
  cursor:pointer;
  display:none;
  text-align: center;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 700px;
  height: 50px;
  z-index: 999;
  padding-left: 10px;
}

.hover_bkgr_fricc .helper{
  display:inline-block;
  height:100%;
  vertical-align:middle;
}
.hover_bkgr_fricc > div {
  background-color: rgb(223, 113, 113);
  box-shadow: 10px 10px 60px #555;
  display: inline-block;
  height: auto;
  width: 300px;
  height: 50px;
  vertical-align: middle;
  left: -4.5%;
  width: 60%;
  position: relative;
  border-radius: 8px;
  padding: 15px 5%;
}
.popupText {
  font: 500 1rem 'Roboto Slab', serif;
  padding: 13px 0;
}
.popupCloseButton {
  background-color: rgb(223, 113, 113);
  border: 3px solid rgb(179, 90, 90);
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  position: absolute;
  top: -2px;
  right: -2px;
  font-size: 25px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
}
#greennoti {
  background-color: rgb(118, 221, 131);
}
#greenbtn {
  background-color: rgb(118, 221, 131);
  border: 3px solid rgb(87, 160, 97);
}
#greenbtn:hover {
  background-color: rgb(87, 160, 97);
}

.popupCloseButton:hover {
  background-color: rgb(179, 90, 90);
}

.trigger_popup_fricc {
  cursor: pointer;
  font-size: 20px;
  margin: 20px;
  display: inline-block;
  font-weight: bold;
}

/* trash can button */

.commentDelete{
  position: relative;
  top: -106px;
  left: 220px;
  display: none;
  background-color: rgb(223, 113, 113);
  border-color: rgb(223, 113, 113);
}


/* form */
.feedback-input {
  color:rgb(0, 0, 0);
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  background-color: transparent;
  border:2px solid rgb(223, 113, 113);
  padding: 13px;
  margin: 0 auto 15px auto;
  width:60%;
  outline:0;
  resize: none;
}

#submitSubmission {
  background-color: rgb(223, 113, 113);
  border-color: rgb(223, 113, 113);
  border-radius: 5px;
  font-weight:500;
  font-size: 16px;
}

.left-align {
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 20px;
  text-align: left;
  width: 62%;
  margin: 0 auto 0 auto;
  padding-bottom: 10px;
}

#submissionLogo {
  font-weight:500;
  font-size: 18px;
  padding-bottom: 15px;
  margin-left: 10px;
}

/* show accept / deny forms */
#adminPrivileges {
  display: none;
}