body{
    --color-primary: #2196F3;
    --color-secondary: #00008b;
    --color-error: #f00;
    --color-success: green; 
    --border-radius: 4px;
    --color-background: #CACACA;

    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    background: var(--color-background);
    background-size: cover;
}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #fff;
}

.container,
.form__input,
.form__button {
    font: 500 1rem 'Roboto Slab', serif;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}
.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddd;
    outline: none;
    background: #eeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffff;  
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1 rem;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:activate {
    transform: scale(0.68);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}

#createAccDiv {
    display: none;
}

#backBtn {
    float:right;
    padding: 6px;
    margin-bottom: 350px;
    background-color: rgb(65, 61, 61); 
    text-align: center;
    border-color: rgb(65, 61, 61);  
    color:white;
    font: 500 1rem 'Roboto Slab', serif;
  }



/* Notification Pop Up */

/* Popup box BEGIN */
/* .hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
} */

.hover_bkgr_fricc{
    cursor:pointer;
    display:none;
    text-align: center;
    position: fixed;
    top: 15%;
    width: 700px;
    height: 50px;

    padding-left: 10px;
}

.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: rgb(223, 113, 113);
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    width: 300px;
    height: 50px;
    vertical-align: middle;
    left: -4.5%;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupText {
    font: 500 1rem 'Roboto Slab', serif;
    padding: 13px 0;
}
.popupCloseButton {
    background-color: rgb(223, 113, 113);
    border: 3px solid rgb(179, 90, 90);
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -2px;
    right: -2px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: rgb(179, 90, 90);
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
/* Popup box BEGIN */